@use 'src/styles/vars';

.posts {
  //max-width: 600px;

  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .title {
    font-family: vars.$title-font;
    font-weight: vars.$title-font-weight;
    color: vars.$primary-color;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    margin-bottom: vars.$gutter-article / 2;
  }

  .posts-container {
    display: flex;
    flex-wrap: wrap;

    .post {
      height: 300px;
      width: 50%;
      padding: 2rem;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: vars.$post-hover-color;
        transition:ease;
        cursor: pointer;
      }

    }

    .article {
      height: 100%;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 10% 80% 10%;
      grid-template-areas: 
        "title"
        "text"
        "button";
    }

    .post-title {
      font-family: vars.$title-font;
      font-weight: vars.$title-font-weight;
      text-transform: uppercase;
      color: vars.$title-color;
      grid-area: title;
    }

    .post-excerpt {
      color: vars.$post-text-color;
      grid-area: text;
      overflow: hidden;
    }

    .button {
      display: flex;
      justify-content: space-evenly;
      grid-area: button;

      .button-edit {
        width: 50px;
        border: 2px solid transparent;
        color: white;
        background: rgb(3, 189, 127);
        border-radius: 32px;
    
        &.header-link--active, &:hover {
          color:rgb(3, 189, 127);
          background-color: white;
        }
      }

      .button-delete {
        width: 60px;
        border: 2px solid transparent;
        color: white;
        background: rgb(230, 59, 7);
        border-radius: 32px;
    
        &.header-link--active, &:hover {
          color:rgb(230, 59, 7);
          background-color: white;
        }
      }
    }
  }

}

