@use 'src/styles/vars';

.createPost {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .submitButton {
    width: 60px;
    border: 2px solid transparent;
    color: white;
    background:rgb(5, 53, 129);
    border-radius: 32px;
    padding: 5px;

    &.header-link--active, &:hover {
      color: rgb(5, 53, 129);
      background-color: white;
    }
  }
}
