@use 'src/styles/vars';

.header {
  text-align: center;
  padding: vars.$gutter-nav;
  height: 15vh;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .header-link {
    margin: vars.$gutter-nav /2;

    &.header-link--active, &:hover {
      color: vars.$primary-color;
    }
  }

  .logOut {
    margin: 1rem;
  }
}




// .banner-container {
//   width: 100%;
//   padding: 20px 0;
//   display: grid;
//   grid-template-columns: auto 25% 25% 25% auto ;
//   grid-template-rows: auto;
//   grid-template-areas: 
//   ". home create logout .";

//   .home {
//     grid-area: home;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
//   .home::selection{
//     background: cornflowerblue;
//   }


//   .create {
//     grid-area: create;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }

//   .logout {
//     justify-self: end;
//     width: 50%;
//     grid-area: logout;
//     //grid-area: signin;
//     border: 2px solid;
//     color: white;
//     background-color: cornflowerblue;
//     padding: 10px;
//     border-radius: 32px;
//   }
