// Generic
$gutter-nav: 2rem;
$gutter-article: 50px;
$primary-color: #e52354;
$alt-color: #ddd;
$dark-color: #101010;
$light-color: #fff;

// Global
$global-font: 'Roboto', sans-serif;
$global-font-weight: 300;

// Title
$title-font: 'Oswald', sans-serif;
$title-font-weight: bold;
$title-color: #000;

// Post
$post-text-color: #666;
$post-hover-color: rgba(212, 212, 212, 0.714);

$light-grey-color: #666;
$red-color: #EB1D27;
